# Ignore all the output directories
output/

# Ignore the reddit subset directory
reddit-subset/
reddit-subset-2022/

# Ignore the Python virtual environment directory
myenv/
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore the VSCode settings directory
.vscode/
.env
# Ignore log files
*.log

output/
openai_embedded_small.pkl
text_embeddings/
usr/
home/
temp.ipynb
